<div ng-if="['select', 'checkbox', 'submit'].indexOf(meta.type) === -1" class="form-group"
     ng-class="{'has-error': !parentForm[meta.name].$valid && !parentForm[meta.name].$pristine,
                'is-valid': !!parentForm[meta.name].$valid && !parentForm[meta.name].$pristine}"
     style="{{meta.divStyle}}">

    <input type="{{meta.type}}"
           class="form-control input-lg"
           name="{{meta.name}}"
           ng-model="parentData[meta.name]"
           placeholder="{{meta.placeholder}}"
           ng-required="{{meta.required}}"
           ng-enter-focus-next="{{meta.lastTabField ? undefined : meta.nested}}"
           tabindex="{{meta.num}}"
           ng-trim="{{meta.trim}}"
           ng-pattern="meta.pattern"
           ng-minlength="{{meta.minlength ? meta.minlength : 'undefined'}}"
           ng-maxlength="{{meta.maxlength ? meta.maxlength : 'undefined'}}"
           ng-focus="isFocused = true"
           ng-blur="isFocused = false"
           ng-must-match="{{meta.confirm}}"
           ng-must-match-parent-scope>

    <div class="fade popover in {{errorPosition}}"
         ng-hide="!parentForm[meta.name].$dirty || !!parentForm[meta.name].$valid || !isFocused">
        <div class="arrow"></div>
        <div class="popover-inner">
            <div class="popover-content">{{parseErrors()}}</div>
        </div>
    </div>

</div>

<div ng-if="meta.type === 'submit'" class="form-group" style="{{meta.divStyle}}">

    <button ng-disabled="!parentForm.$valid"
            type="submit" class="btn btn-default btn-form">
        <img src="images/arrow.png" alt="submit form">
    </button>

</div>

<div ng-if="meta.type === 'checkbox'" class="form-group text-center noselect" style="{{meta.divStyle}}">
    <label class="checkbox1" for="{{meta.name}}">
        <input type="checkbox"
               id="{{meta.name}}"
               name="{{meta.name}}"
               ng-model="parentData[meta.name]"
               ng-required="{{meta.required}}"
               tabindex="{{meta.num}}">
        <span></span>
    </label>
    {{meta.label}}
</div>