<div class="login-page">
    <div class="img-container noselect">
        <div class="text-center pull-right photo">
            <a href="#/" title="Go Back">
                <img data-artist="Lydia Jayne" data-artist-site="https://www.behance.net/LydiaJayne"
                     data-license="Do not re-use without explicit consent from site author and artist."
                     src="images/logo.r1.png" class="user-avatar img-circle img-responsive" alt="Logo" />
            </a>
            <h1><small>THE MULTIPLAYER CARD GAME</small></h1>
            <h2>SIGN IN</h2>
        </div>
    </div>

    <div class="form-content">
        <form role="form" class="bottom-75" ng-submit="submit()">
            <p ng-model="form.errors" ng-class="form.errorLevel" class="error-message">{{form.errors}}</p>
            <fieldset ng-disabled="awaitingResponse">
            <div class="table-form">
                <div class="form-groups">
                    <div class="form-group">
                        <input ng-enter-focus-next="1" name="username" id="username" type="text" tabindex="1"
                               class="form-control input-lg" ng-model="form.username" placeholder="USERNAME"
                               ng-required="true" ng-minlength="4" ng-maxlength="24"
                               ng-pattern="/^[a-zA-Z0-9\._\-]+$/">
                    </div>
                    <div class="form-group">
                        <input name="password" id="password" type="password" tabindex="2" class="form-control input-lg"
                               ng-model="form.password" ng-minlength="8" ng-maxlength="128" placeholder="PASSWORD"
                               ng-required="true">
                    </div>


                </div>
                <div class="button-container">
                    <button tabindex="3" type="submit" class="btn btn-default btn-form">
                        <img src="images/arrow.png" alt="submit login">
                    </button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<credits-footer></credits-footer>