<div class="register-page">
    <div class="img-container noselect">
        <div class="text-center pull-right photo">
            <a href="#/" title="Go Back">
                <img data-artist="Lydia Jayne" data-artist-site="https://www.behance.net/LydiaJayne"
                     data-license="Do not re-use without explicit consent from site author and artist."
                     src="images/logo.r1.png" class="user-avatar img-circle img-responsive" alt="Logo" />
            </a>
            <h1 class="hidden-xs display-sm"><small>THE MULTIPLAYER CARD GAME</small></h1>
            <h2>SIGN UP</h2>
        </div>
    </div>

    <div class="form-content">
        <form name="registerForm" role="form" ng-submit="submit()" novalidate>
            <fieldset ng-disabled="awaitingResponse">
            <div class="table-form">

                <p ng-model="data.errors" style="padding-left:15px; padding-right:15px;"
                   ng-class="data.errorLevel" class="error-message">{{data.errors}}</p>
                <div class="form-groups col-xs-12">
                    <form-group form="registerForm" name="username" trim="false" minlength="4" pattern="/^[a-zA-Z0-9\._\-]+$/"></form-group>
                    <form-group form="registerForm" name="email" type="email" minlength="6"></form-group>
                    <form-group form="registerForm" name="conf_email" next-group-nest-level="2"></form-group>
                </div>
                <div class="form-groups col-xs-12">
                    <form-group form="registerForm" name="password" type="password" minlength="8"></form-group>
                    <form-group form="registerForm" name="conf_password" type="password" on-enter-submit></form-group>
                    <form-group label="I agree to the Terms." form="registerForm" name="agree" on-enter-submit
                                div-style="cursor:default;margin-top:10px;height:48px;" type="checkbox"></form-group>
                </div>
            </div>
            <div class="table-form">
                <div class="form-groups error-message col-xs-12">
                </div>
                <div class="form-groups col-xs-12">
                    <form-group form="registerForm" type="submit" on-enter-submit></form-group>
                </div>
            </div>

                    <!--
                <div class="remember">
                    <label class="checkbox1" for="Option">
                        <input id="Option" type="checkbox" class="">
                        <span></span>
                    </label>
                    remember me
                    <span class="pass"> forgot password?</span>
                </div>
                    -->
            </fieldset>
        </form>
    </div>
</div>

<credits-footer></credits-footer>