<div class="register-page">
    <div class="img-container noselect">
        <div class="text-center pull-right photo">
            <a href="#/" title="Go Back">
                <img data-artist="Lydia Jayne" data-artist-site="https://www.behance.net/LydiaJayne"
                     data-license="Do not re-use without explicit consent from site author and artist."
                     src="images/logo.r1.png" class="user-avatar img-circle img-responsive" alt="Logo" />
            </a>
            <h1 class="hidden-xs display-sm"><small>THE MULTIPLAYER CARD GAME</small></h1>
            <h2>SIGN UP</h2>
        </div>
    </div>

    <div class="form-content">
        <form name="form" role="form" ng-submit="submit()" novalidate>
            <fieldset ng-disabled="awaitingResponse">
            <div class="table-form">

                <p ng-model="data.errors" style="padding-left:15px; padding-right:15px;"
                   ng-class="data.errorLevel" class="error-message">{{data.errors}}</p>
                <div class="form-groups col-xs-12">
                    <div class="form-group" ng-class="{'has-error': form.username.$invalid && !form.username.$pristine}">
                        <input type="text" class="form-control input-lg" id="username" name="username"
                               ng-model="data.username" placeholder="USERNAME" ng-required="true"
                               ng-enter-focus-next="1" tabindex="1" ng-pattern="/^[a-zA-Z0-9\._\-]+$/"
                               ng-minlength="4" ng-maxlength="24">
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.email.$invalid && !form.email.$pristine}">
                        <input type="email" class="form-control input-lg" id="email" name="email" placeholder="EMAIL"
                               ng-model="data.email" ng-required="true" ng-enter-focus-next="1" tabindex="2"
                               ng-maxlength="128" ng-minlength="6">
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.conf_email.$invalid && !form.conf_email.$pristine}">
                        <input type="email" class="form-control input-lg" id="conf-email" placeholder="RE-ENTER EMAIL"
                               ng-model="data.conf_email" ng-required="true" ng-enter-focus-next="2" tabindex="3"
                               ng-maxlength="128" ng-minlength="6" ng-must-match="data.email">
                    </div>
                </div>
                <div class="form-groups col-xs-12">
                    <div class="form-group" ng-class="{'has-error': form.password.$invalid && !form.password.$pristine}">
                        <input type="password" class="form-control input-lg" id="password" name="password"
                               placeholder="PASSWORD" ng-model="data.password" ng-required="true"
                               ng-enter-focus-next="1" tabindex="4" ng-minlength="8" ng-maxlength="128">
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.conf_password.$invalid && !form.conf_password.$pristine}">
                        <input type="password" class="form-control input-lg" id="conf-password" placeholder="RE-ENTER PASSWORD"
                               ng-model="data.conf_password" ng-required="true" tabindex="5" ng-minlength="8"
                               ng-maxlength="128">
                    </div>
                    <div class="form-group text-center noselect" style="cursor:default;margin-top:10px;height:48px;">
                        <label class="checkbox1" for="agree">
                            <input id="agree" name="agree" type="checkbox" ng-required="true" tabindex="6"
                                   ng-model="data.agree">
                            <span></span>
                        </label>
                        I agree to the T.O.S.
                    </div>
                </div>
            </div>
            <div class="table-form">
                <div class="form-groups error-message col-xs-12">
                </div>
                <div class="form-groups col-xs-12">
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-default register"><img src="images/arrow.png" alt="submit login"></button>
                </div>
            </div>

                    <!--
                <div class="remember">
                    <label class="checkbox1" for="Option">
                        <input id="Option" type="checkbox" class="">
                        <span></span>
                    </label>
                    remember me
                    <span class="pass"> forgot password?</span>
                </div>
                    -->
            </fieldset>
        </form>
    </div>
</div>

<credits-footer></credits-footer>