<div class="login-page">
    <div class="img-container">
        <div class="text-center pull-right photo">
            <img src="images/placeholder-image.png" class="user-avatar img-circle img-responsive" />
            <h1><small>THE MULTIPLAYER CARD GAME</small></h1>
        </div>
    </div>

    <div class="form-content">
        <div class="row">
            <div class="button-container col-sm-12 col-md-4 col-md-offset-1" style="margin-right: 20px;">
                <button type="submit" ng-click="register()" class="btn btn-default welcome signup">SIGN UP</button>
            </div>
            <div style="height:5px" class="button-container col-sm-12 col-md-1">
                &nbsp;
            </div>
            <div class="button-container col-sm-12 col-md-4" style="margin-right: 20px;">
                <button type="submit" ng-click="login()" class="btn btn-default welcome signin">SIGN IN</button>
            </div>
        </div>
    </div>
</div>

<footer class="template-credits hidden-xs">
    This site was built with the <a target="_blank" href="http://startangular.com/product/versatile-angularjs-theme/">Versatile Dashboard</a> template.
</footer>
</div>