<div class="login-page welcome-page">
    <div class="img-container noselect">
        <div class="text-center pull-right photo" onclick="window.open('https://github.com/zimmed/project200-web-client', '_blank');"
             title="View Source">
                <img data-artist="Lydia Jayne" data-artist-site="https://www.behance.net/LydiaJayne"
                     data-license="Do not re-use without explicit consent from site author and artist."
                     src="images/logo.r1.png" class="user-avatar img-circle img-responsive" />
            <h1><small>THE MULTIPLAYER CARD GAME</small></h1>
        </div>
    </div>

    <div class="form-content">
        <div class="row">
            <div class="button-container col-sm-12 col-md-4 col-md-offset-1" style="margin-right: 20px;">
                <button type="submit" ng-click="register()" class="btn btn-default btn-form signup">SIGN UP</button>
            </div>
            <div style="height:5px" class="button-container col-sm-12 hidden-md hidden-lg">
                &nbsp;
            </div>
            <div class="button-container col-sm-12 col-md-4" style="margin-right: 20px;">
                <button type="submit" ng-click="login()" class="btn btn-default btn-form signin">SIGN IN</button>
            </div>
        </div>
    </div>
</div>

<credits-footer></credits-footer>