@media (max-width: 768px) {

    .ng-scope {
        background: rgba(7, 99, 36, 0.31);
    }
    .login-page.ng-scope::before {
        height: 0;
    }
}
@media (max-width: 414px) {
    .register-page .photo .user-avatar {
        max-width: 128px;
    }
}
@media (max-width: 375px) {
    .register-page .photo .user-avatar {
        max-width: 64px;
    }
    .register-page .table-form > .form-groups::before {
        position: absolute;
        content: ' ';
        left: -40px;
        width: 30px;
        margin-top: 7px;
        height: 100%;
        background: #06551f;
        z-index: 1;
    }
    .register-page .table-form > .form-groups > .form-group:not(.noselect)::before {
        position: absolute;
        z-index: 2;
        content: ' ';
        color: #d9534f;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        left: -30px;
        width: 20px;
        height: 20px;
    }
    .register-page .table-form > .form-groups:last-child::before {
        height: 102%;
    }
}

/** Generic Classes **/

.error-message {
    color: white;
}
.error-message.warn {
    color: orange;
}
.error-message.error {
    color: #EA7D65;
}
.form-group.has-error > input {
    border-color: orange !important;
}

li.separator {
    all: unset;
    height: 1px !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default !important;
}
li.separator::before {
    content: ' ';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid white;
}
li.separator:hover {
    /*all:unset;*/
}

.flipped {
    /* Flips image. */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** New Components **/

footer.template-credits {
    position: absolute;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-style: italic;
    z-index: 3;
}

footer.template-credits a {
    color: #fff;
    font-weight: bold;
}